﻿@{
    ViewBag.Title = "Tecso";
}

<div class="jumbotron">
    <h1 class="text-center">Universidad Tecso</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Carreras</h2>
        <p>
            ¿Aún buscando tu camino? Te ofrecemos un montón de carreras con títulos certificados en todo el país.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post Grado</h2>
        <p>¿Querés seguir expandiendo tu conocimiento? No te quedes afuera y comienza por inscribirte en alguna de los postgrados que ofrecemos. </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Ver más</a></p>
    </div>
    <div class="col-md-4">
        <h2>Investigación</h2>
        <p>¿Interesado en expandir nuevos horizontes? Únete a nuestro grupo de investigación. Actualmente contamos con investigadores en las últimas ramas de la informática</p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Ver más</a></p>
    </div>
</div>