﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center">Menú de opciones</h4>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active text-center">
                    Opción
                </a>

                @if (Session["admin"].Equals(true))
                {<a href="/Students" class="list-group-item list-group-item-action text-center">Alumnos</a>}
                @if (Session["admin"].Equals(true))
                {<a href="/Courses" class="list-group-item list-group-item-action text-center">Cursos</a>}
                @if (Session["admin"].Equals(true))
                {<a href="/Enrollments/Recursantes" class="list-group-item list-group-item-action text-center">Ver Recursantes</a>}
                @if (Session["admin"].Equals(false))
                {<a href="@Url.Action("../Enrollments/Inscripciones", "", new { recordID = Session["recordID"] })" class="list-group-item list-group-item-action text-center">Inscripciones</a>}
                @if (Session["admin"].Equals(false))
                {<a href="@Url.Action("../Enrollments/EstadoAcademico", "", new { recordID = Session["recordID"] })" class="list-group-item list-group-item-action disabled text-center">Estado Académico</a>}
                @if (Session["admin"].Equals(false))
                {<a href="@Url.Action("../Enrollments/InscripcionCursado", "", new { recordID = Session["recordID"] })" class="list-group-item list-group-item-action disabled text-center">Inscribir a cursado</a>}
            </div>
        </div>
    </div>
</div>
<label data-bind="text: name"></label>
