﻿@model IEnumerable<Entities.Enrollment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class=" text-center">Inscripciones</h3>

<div>
    <table class="table">
        <tr>
            <th>Materia</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.course.subject)</td>
            </tr>
        }
    </table>
</div>
<p>@Html.ActionLink("Menú Principal", "../Home/Menu")</p>
