﻿@model IEnumerable<Entities.Enrollment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class=" text-center">Inscripción a Cursado</h3>


<div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <table class="table ">
                <tr>
                    <th>Materia</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.course.subject)</td>
                        <td>@Html.ActionLink("Inscribir", "../Courses/InscripcionMateria" ,new { courseID = item.courseID, recordID= ViewBag.recordID } )</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
<p>@Html.ActionLink("Menú Principal", "../Home/Menu")</p>

