﻿@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lo sentimos, se produjo un error al procesar la solicitud</h1>
        <h2>Más Detalles: @Model.Exception</h2>
    </hgroup>

    @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
</body>
</html>
