﻿@model Entities.Course

@{
    ViewBag.Title = "Details";
}

<h2> @Html.DisplayFor(model => model.subject)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Cupo Máximo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maxStudents)
        </dd>

        <dt>
            Docente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher)
        </dd>

    </dl>
</div>
<hr />

<h3>Alumnos Cursando</h3>
<table class="table">
    <tr>
        <th>Alumno</th>
        <th>Estado</th>
    </tr>
    @foreach (var inscripcion in Model.enrollments)
    {
        <tr>
            <td>@Html.DisplayFor(al => inscripcion.student.name)</td>
            <td>@Html.DisplayFor(al => inscripcion.state)</td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
