﻿@model IEnumerable<Entities.Course>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>


<table class="table">
    <tr>
        <th>
            Materia
        </th>
        <th>
            Cupo Máximo
        </th>
        <th>
            Docente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maxStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teacher)
        </td>
        <td>
            @Html.ActionLink("Ver más", "Details", new { id=item.courseID }) 
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Menú Principal", "../Home/Menu")</p>