﻿@model Entities.Course

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Confirmar Inscripción</h4>
        <hr />
        <div>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    Cupo Máximo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.maxStudents)
                </dd>

                <dt>
                    Docente
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.teacher)
                </dd>

            </dl>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inscribir" class="btn btn-primary" formaction="@Url.Action("../Enrollments/RealizarInscripcion","", new {@courseID = Model.courseID,@recordID = ViewBag.recordID })" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
