﻿@model Entities.Student

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @using (Html.BeginForm("Login", "Users/Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Ingresar</h1>
                    <div class="col-md-6 col-md-offset-3">
                        @if (ViewBag.message != null)
                        {
                            <label class="alert-danger"> @ViewBag.message </label>
                        }

                        @Html.TextBoxFor(s => s.recordID, new { @class= "form-control", @placeholder = "recordID" })
                        @Html.PasswordFor(s => s.password, new { @class = "form-control",@paceholder = "password" })
                        <button type="submit" class="btn btn-primary">Ingresar</button>

                    </div>
                </div>

            </div>

    }

</body>
</html>
