﻿@model IEnumerable<Entities.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="Students/Create" class="btn btn-primary">
    Nuevo Alumno
</a>

<table class="table">
    <tr>
        <th>
           Nombre
        </th>
        <th>
           Fecha Nacimiento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.recordID })
        </td>
    </tr>
}

</table>

<p>@Html.ActionLink("Menú Principal", "../Home/Menu")</p>
